<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/header :: header(~{::title}, ~{::link}, ~{::script})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>스프링 마켓 - 로그인</title>
    <link>
    <script th:src="@{/js/signin.js}"></script>
</head>
<body>
    <nav th:replace="layouts/nav"></nav>
    <main class="auth-form w-100 m-auto mt-5 mb-5">
        <form id="signin" action="/auth/signin" method="post">
            <h1 class="h3 mb-3 fw-normal text-center">SpringMarket</h1>

            <div th:if="${error}" class="alert alert-danger" role="alert">
                <span th:text="${exception}">Error Message</span>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="login_id" name="login_id" placeholder="name@example.com"/>
                <label for="floatingInput">아이디 입력</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="member_password" name="member_password" placeholder="Password"/>
                <a class="link-dark pw-check cursor-pointer"><i class="fa-solid fa-eye fa-xl"></i></a>
                <label for="floatingPassword">비밀번호 입력</label>
            </div>

            <div class="d-flex justify-content-between mb-3">
                <label>
                    <input type="checkbox" value="remember-me" /> 아이디 저장
                </label>
                <div>
                    <a href="/findId" class="link-dark text-decoration-none me-2">아이디 찾기</a>
                    <a href="/findPw" class="link-dark text-decoration-none">비밀번호 찾기</a>
                </div>
            </div>
            <button class="w-100 btn btn-lg btn-success" type="submit">
                로그인
            </button>
        </form>
    </main>
    <footer th:replace="layouts/footer"></footer>
</body>
</html>
