<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/header :: header(~{::title}, ~{::link}, ~{::script})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>스프링 마켓 - 채팅방</title>
    <link rel="stylesheet" th:href="@{/css/chatList.css}">
    <script></script>
</head>
<body>
    <nav th:replace="layouts/nav"></nav>
    <main class="chat-list-container w-100 m-auto mt-1 mb-3">
        <h1 class="text-center">채팅방</h1>
        <div class="border rounded-3 ps-1 pe-1 pt-2 chat-list">
            <a th:each="chatRoom : ${chatRoomList}" th:href="@{/chat/room/{roomId}(roomId=${chatRoom.id})}" class="link-dark text-decoration-none d-flex justify-content-between border rounded-3 ps-2 mb-2 cursor-pointer">
                <div class="d-flex align-items-center">
                    <img th:src="${chatRoom.fileName != null} ? '/upload/' + ${chatRoom.fileName} : '/img/default.png'" src="/img/default.png" width="50px" height="50px" class="rounded-circle border rounded-3 border-dark mt-3 mb-3 me-3"/>
                    <div class="d-flex flex-column">
                        <span th:text="${chatRoom.nickname}">닉네임</span>
                        <span th:text="${chatRoom.message}">최근 채팅 1개 보여주기</span>
                    </div>
                </div>
                <img src="/img/개선.PNG" width="50px" height="50px" class="rounded border border-dark mt-3 mb-3 me-2"/>
            </a>
        </div>
    </main>
    <footer th:replace="layouts/footer"></footer>
</body>
</html>
