<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="nav">
  <input type="hidden" th:value="${#authentication.principal != 'anonymousUser'}" id="isLogin" />
  <input type="hidden" th:if="${#authentication.principal != 'anonymousUser'}" th:value="${#authentication.principal.memberLoginDto.id}" id="id" />
  <input type="hidden" th:if="${#authentication.principal != 'anonymousUser'}" th:value="${#authentication.principal.memberLoginDto.nickname}" id="nickname" />
  <div class="toast alarm-toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">알림</strong>
    </div>
    <div class="toast-body">

    </div>
  </div>
  <header class="p-3 text-bg-success">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <div>
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <span class="fs-4">SpringMarket</span>
          </a>
        </div>

        <div>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center align-items-center mb-md-0" sec:authorize="isAnonymous()">
            <li class="nav-item">
              <a th:href="@{/auth/signin}" class="nav-link text-white px-2">로그인</a>
            </li>
            <li class="nav-item">
              <a th:href="@{/auth/signup}" class="nav-link text-white px-2">회원가입</a>
            </li>
          </ul>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 align-items-center justify-content-center mb-md-0" sec:authorize="isAuthenticated()">
            <li class="nav-item position-relative">
              <span class="position-absolute translate-middle badge rounded-pill bg-danger" id="alarmCount">0</span>
              <a class="nav-link text-white px-2" th:href="@{/chat/list}">채팅방</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-2" th:href="@{/mypage}">마이페이지</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-2" th:href="@{/product/productAdd}">상품등록</a>
            </li>
            <li class="nav-item">
              <a th:href="@{/auth/logout}" class="nav-link text-white px-2">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>
</body>
</html>