<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="nav">
  <div class="toast alarm-toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">알림</strong>
    </div>
    <div class="toast-body">
      닉네임님에게 채팅이 왔습니다.
    </div>
  </div>
  <header class="p-3 text-bg-success">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <div>
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <span class="fs-4">SpringMarket</span>
          </a>
        </div>

        <div>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center align-items-center mb-md-0" th:if="${session.user == null}">
            <li class="nav-item">
              <a th:href="@{/auth/signin}" class="nav-link text-white px-2">로그인</a>
            </li>
            <li class="nav-item">
              <a th:href="@{/auth/signup}" class="nav-link text-white px-2">회원가입</a>
            </li>
          </ul>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" th:if="${session.user != null}">
            <li class="nav-item me-3">
              <div class="dropdown-center position-relative">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  0
                </span>
                <a class="dropdown-toggle text-white cursor-pointer" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-regular fa-bell fa-xl"></i>
                </a>
                <ul class="dropdown-menu text-center">
                  <li>
                    <a href="/chat/1" class="dropdown-item  cursor-pointer">닉네임님에게 채팅이 왔습니다</a>
                  </li>
                  <li>
                    <a href="/chat/1" class="dropdown-item cursor-pointer">닉네임님에게 채팅이 왔습니다</a>
                  </li>
                  <li>
                    <a href="/chat/1" class="dropdown-item cursor-pointer">닉네임님에게 채팅이 왔습니다</a>
                  </li>
                  <li>
                    <a href="/chat/1" class="dropdown-item cursor-pointer">닉네임님에게 채팅이 왔습니다</a>
                  </li>
                  <li>
                    <a href="/chat/1" class="dropdown-item cursor-pointer">닉네임님에게 채팅이 왔습니다</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-2" th:href="@{/mypage}">채팅방</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-2" th:href="@{/mypage}">마이페이지</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-2" th:href="@{/product/productAdd}">상품등록</a>
            </li>
            <li class="nav-item">
              <a th:href="@{/auth/logout}" class="nav-link text-white px-2">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>
</body>
</html>