<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/header :: header(~{::title}, ~{::link}, ~{::script})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>스프링 마켓 - 관심목록</title>
    <link>
    <script></script>
</head>
<body>
    <nav th:replace="layouts/nav"></nav>
    <div class="container user-info">
        <div th:replace="mypage/mypageNav"></div>
        <div class="container mypage-list">
            <div class="d-flex align-items-center border-bottom mypage-list-item">
                <img src="/img/개선.PNG" width="150px" height="150px" class="border border-dark me-3"/>
                <div class="flex-column ">
                    <h2>게시글 제목 게시글 제목 게시글 제목 게시글 제목 게시글 제목 게시글 제목</h2>
                    <span class="fs-4">320,000원</span>
                </div>
                <div class="flex-column align-items-center mypage-count text-center">
                    <a href="#" class="link-dark text-decoration-none">
                        <i class="fa-regular fa-heart fa-2xl"></i>
                    </a>
                    <span><i class="fa-regular fa-heart me-1"></i>3</span>
                </div>
            </div>
            <div class="d-flex align-items-center border-bottom mypage-list-item">
                <img src="/img/개선.PNG" width="150px" height="150px" class="border border-dark me-3"/>
                <div class="flex-column ">
                    <h2>게시글 제목 게시글 제목 게시글 제목 게시글 제목 게시글 제목 게시글 제목</h2>
                    <span class="fs-4">320,000원</span>
                </div>
                <div class="flex-column align-items-center mypage-count text-center">
                    <a href="#" class="link-dark text-decoration-none">
                        <i class="fa-regular fa-heart fa-2xl"></i>
                    </a>
                    <span><i class="fa-regular fa-heart me-1"></i>3</span>
                </div>
            </div>
            <div class="d-flex align-items-center border-bottom mypage-list-item">
                <img src="/img/개선.PNG" width="150px" height="150px" class="border border-dark me-3"/>
                <div class="flex-column ">
                    <h2>게시글 제목 게시글 제목 게시글 제목 게시글 제목 게시글 제목 게시글 제목</h2>
                    <span class="fs-4">320,000원</span>
                </div>
                <div class="flex-column align-items-center mypage-count text-center">
                    <a href="#" class="link-dark text-decoration-none">
                        <i class="fa-regular fa-heart fa-2xl"></i>
                    </a>
                    <span><i class="fa-regular fa-heart me-1"></i>3</span>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="modal/modal"></div>
    <footer th:replace="layouts/footer"></footer>
</body>
</html>
