<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="modal">
    <!-- passwordChangeModal -->
    <div class="modal fade" id="passwordChangeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="passwordChangeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="passwordChangeModalLabel">
              비밀번호 변경
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="changeCurrentPassword" placeholder="Password"/>
              <a class="link-dark pw-check cursor-pointer"><i class="fa-solid fa-eye fa-xl"></i>
              </a>
              <label for="changeCurrentPassword">현재 비밀번호</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="changePassword" placeholder="Password"/>
              <a class="link-dark pw-check cursor-pointer">
                <i class="fa-solid fa-eye fa-xl"></i>
              </a>
              <label for="changePassword">변경 비밀번호</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="changePasswordConfirm" placeholder="changePasswordConfirm"/>
              <a class="link-dark pw-check cursor-pointer">
                <i class="fa-solid fa-eye fa-xl"></i>
              </a>
              <label for="changePasswordConfirm">변경 비밀번호 확인</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">비밀번호 변경</button>
          </div>
        </div>
      </div>
    </div>

    <!-- withdrawModal -->
    <div class="modal fade" id="withdrawModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="withdrawModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="withdrawModalLabel">탈퇴</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="text-center mb-3">
              <h5>탈퇴 후 판매 내역과 구매 내역은 복구가 불가능 합니다. <br />탈퇴하시겠습니까?</h5>
              <span class="text-muted">현재 비밀번호를 입력 후 탈퇴를 눌러주세요</span>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="withCurrentPassword" placeholder="Password"/>
              <a class="link-dark pw-check cursor-pointer">
                <i class="fa-solid fa-eye fa-xl"></i>
              </a>
              <label for="withCurrentPassword">현재 비밀번호</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger">탈퇴</button>
          </div>
        </div>
      </div>
    </div>

    <!-- placeSelectModal -->
    <div class="modal fade" id="placeSelectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="placeSelectModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="placeSelectModalLabel">장소선택</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div>지도 들어갈 자리</div>
          </div>
          <div class="modal-footer justify-content-center">
            <div class="form-floating place-name">
              <input type="text" class="form-control" id="placeName" placeholder="placeName"/>
              <label for="placeName">장소명을 입력해주세요</label>
            </div>
            <button type="button" class="btn btn-primary place-register-btn">
              거래장소등록
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>