<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.market.domain.product.ProductMapper">
    <select id="findAll" resultType="com.spring.market.domain.product.Product">
        SELECT id productId, category_id, IFNULL(place_id, 0),
               title, content, price, read_count, order_status, create_at
        FROM product
    </select>

    <select id="findById" parameterType ="int" resultType="com.spring.market.domain.product.Product">
        SELECT p.id productId, u.id userId, u.nickname, p.category_id, IFNULL(place_id, 0),
               p.title, p.content, p.price, p.read_count, p.order_status, p.create_ats
        FROM product p
        INNER JOIN user u ON p.user_id = u.id
        WHERE p.id = #{productId}
    </select>

    <update id="productUpdate" parameterType="com.spring.market.domain.product.dto.ProductUpdateDto">
        UPDATE product SET
        <if test="userId != null and userId !=''">user_id = #{userId},</if>
        <if test="categoryId != null and categoryId !=''">category_id = #{categoryId},</if>
        <if test="placeId != null and placeId !=''">place_id = #{placeId},</if>
        <if test="name != null and name !=''">name = #{name},</if>
        <if test="content != null and content !=''">content = #{content},</if>
        <if test="price != null and price !=''">price = #{price},</if>
        <if test="orderStatus != null and orderStatus !=''">order_status = #{orderStatus},</if>
        <if test="delYn != null and delYn !=''">del_yn = #{delYn},</if>
        <if test="deleteAt != null and deleteAt !=''">delete_at = #{deleteAt},</if>
        update_at = NOW()
        WHERE id = #{id}
    </update>

    <delete id="productDelete" parameterType="int">
        DELETE FROM product WHERE id = #{id}
    </delete>

    <insert id="productAdd" parameterType="com.spring.market.domain.product.dto.ProductAddDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product (user_id, category_id, place_id, name,
        content, price, read_count, order_status, del_yn, create_at)
        VALUES(#{userId},#{categoryId},#{placeId},#{name},#{content},
        #{price},0,"wait","N",NOW())
    </insert>

    <select id="getProductList" parameterType="int" resultType="com.spring.market.domain.product.dto.ProductListDto">
        SELECT
        p.id,
        p.user_id,
        p.category_id,
        p.place_id,
        p.name,
        p.content,
        p.price,
        p.read_count,
        p.order_status,
        p.create_at,
        p.update_at,
        p.delete_at,
        p.del_yn,
        CONCAT("/upload/",f.name) AS file_path
        FROM product p
        LEFT JOIN product_images i ON p.id = i.product_id
        LEFT JOIN files f ON i.product_image_id = f.id
        WHERE p.user_id = #{id}
        AND i.thumbnail = "Y"
        AND p.del_yn = "N"
    </select>

    <select id="getCategory" resultType="com.spring.market.domain.product.dto.CategoryDto">
        SELECT *
        FROM category
    </select>
    
    <insert id="productImageAdd" parameterType="com.spring.market.domain.product.dto.ProductImageDto">
        INSERT INTO product_images (product_id, product_image_id, thumbnail)
        VALUES (#{productId},#{productImageId},#{thumbnail})
    </insert>

</mapper>