<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.market.domain.user.UserMapper">


    <select id="findMember" parameterType="com.spring.market.domain.user.dto.SignInDto" resultType="int">
        SELECT COUNT(*)
        FROM user
        WHERE username = #{username}
    </select>
    <insert id="join" parameterType="com.spring.market.domain.user.dto.SignInDto">
        INSERT INTO user(username,password,nickname,phone_number,create_at,update_at)
        VALUES(#{username},#{password},#{nickname},#{phone_number},NOW(),NOW())
    </insert>

    <select id="findByUsernameAndPassword" parameterType="com.spring.market.domain.user.User" resultType="com.spring.market.domain.user.User">
        SELECT *
        FROM user u
        LEFT JOIN files f ON u.id = f.user_id
        WHERE u.username = #{username}
        AND u.password = #{password}
        AND withdraw != 'Y'
        AND IFNULL(type, 'U') = 'U'
    </select>

    <select id="findByUsername" parameterType="String" resultType="com.spring.market.domain.user.User">
        SELECT *
        FROM user u
        LEFT JOIN files f ON u.id = f.user_id
        WHERE u.username = #{username}
        AND withdraw != 'Y'
        AND IFNULL(type, 'U') = 'U'
    </select>

    <update id="updateById" parameterType="com.spring.market.domain.user.User">
        UPDATE user
        SET password = #{password}
        WHERE id = #{id}
    </update>

    <update id="withdraw" parameterType="int">
        UPDATE user
        SET withdraw = 'Y'
        WHERE id = #{id}
    </update>

    <select id="findById" parameterType="String" resultType="com.spring.market.domain.user.dto.UserInfoDto">
        SELECT *
        FROM user u
        LEFT JOIN files f ON u.id = f.user_id
        WHERE u.username = #{login_id}
        AND withdraw != 'Y'
        AND IFNULL(type, 'U') = 'U'
    </select>

    <select id="findUserEmail" parameterType="String" resultType="String">
        SELECT CONCAT(
        LEFT(username, 3),
        '****') AS username
        FROM user
        WHERE phone_number = #{phone_number}
    </select>

    <update id="updateProfileById" parameterType="com.spring.market.domain.user.dto.ProfileEditDto">
        UPDATE user
        SET nickname = #{nickname}
        <if test="path != null and path != ''">
            ,path = #{path}
        </if>
        WHERE id = #{id}
    </update>

</mapper>