textarea {
    resize: none;
}

.red {
    color: red;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#alarmCount {
 top : 20%;
 left : 90%;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: none;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.box {
    width: 250px;
    height: 250px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.box i {
    font-size: 100px;
}

.auth-form {
    max-width: 550px;
    padding: 15px;
}

.pw-check {
    position: absolute;
    top: 18px;
    right: 10px;
}

.cursor-pointer {
    cursor : pointer;
}

.chat-count {
    bottom : 10px;
    left : 35px;
}

.alarm-count {
    width: 35px;
}

.place-name {
    width: 330px;
}

.place-register-btn {
    height: 58px;
}

.banner-container {
    width: 1296px;
    height: 250px;
}

.search-input {
    width: 1000px;
    height: 55px;
}

.search-btn {
    width: 120px;
}

.category-item {
    width: 189px;
    height: 55px;
    border-radius: 14px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.category-item span {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.category-item.category-active span {
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.category-active {
    background-color: #198754;
}

#product-select {
    width: 100px;
    border: 1px solid #ced4da;
}

.alarm-toast {
    position: absolute;
    top: 75px;
    right: 2px;
    z-index: 2;
}

#password, #passwordConfirm {
    background-image: none;
}

#member_password.is-valid, .was-validated #member_password:valid {
    background-image: none;
}

#member_password.is-invalid, .was-validated #member_password:invalid {
    background-image: none;
}