textarea {
    resize: none;
}

.red {
    color: red;
}

.hide {
 display: none;
}

.show {
    display: block;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: none;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.box {
    width: 250px;
    height: 250px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.box i {
    font-size: 100px;
}

.auth-form {
    max-width: 550px;
    padding: 15px;
}

.pw-check {
    position: absolute;
    top: 18px;
    right: 10px;
}

.cursor-pointer {
    cursor : pointer;
}

.alarm-count {
    width: 35px;
}

.chat-container {
    overflow: auto;
    height: 400px;
}

.chat-message {
    width: 408px;
}

.chat-message-form {
    width: 440px;
}

.chat-date {
    position: relative;
    top: 13px;
    font-size: 12px;
}

.chat-send-btn {
    border: none;
    background: none;
}

.my-chat-date {
    position: relative;
    top: 23px;
    font-size: 12px;
}

.place-name {
    width: 330px;
}

.place-register-btn {
    height: 58px;
}