<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/header :: header(~{::title}, ~{::link}, ~{::script})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>스프링 마켓 - 상품제목</title>
  <link>
  <script></script>
</head>
<body>
  <nav th:replace="layouts/nav"></nav>
  <div class="container mt-4">
    <div class="mb-3">
      <h1>상품 제목</h1>
      <span class="text-muted">카테고리</span>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="./img/개선.PNG" class="card-img-top" alt="..." />
          <div class="card-body">
            <span class="card-text">상품이름</span>
            <div class="d-flex justify-content-between">
              <span>860,000원</span>
              <div>
                <i class="fa-regular fa-heart me-1"></i><span>3</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./img/개선.PNG" class="card-img-top" alt="..." />
          <div class="card-body">
            <span class="card-text">상품이름</span>
            <div class="d-flex justify-content-between">
              <span>860,000원</span>
              <div>
                <i class="fa-regular fa-heart me-1"></i><span>3</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./img/개선.PNG" class="card-img-top" alt="..." />
          <div class="card-body">
            <span class="card-text">상품이름</span>
            <div class="d-flex justify-content-between">
              <span>860,000원</span>
              <div>
                <i class="fa-regular fa-heart me-1"></i><span>3</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./img/개선.PNG" class="card-img-top" alt="..." />
          <div class="card-body">
            <span class="card-text">상품이름</span>
            <div class="d-flex justify-content-between">
              <span>860,000원</span>
              <div>
                <i class="fa-regular fa-heart me-1"></i><span>3</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./img/개선.PNG" class="card-img-top" alt="..." />
          <div class="card-body">
            <span class="card-text">상품이름</span>
            <div class="d-flex justify-content-between">
              <span>860,000원</span>
              <div>
                <i class="fa-regular fa-heart me-1"></i><span>3</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./img/개선.PNG" class="card-img-top" alt="..." />
          <div class="card-body">
            <span class="card-text">상품이름</span>
            <div class="d-flex justify-content-between">
              <span>860,000원</span>
              <div>
                <i class="fa-regular fa-heart me-1"></i><span>3</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./img/개선.PNG" class="card-img-top" alt="..." />
          <div class="card-body">
            <span class="card-text">상품이름</span>
            <div class="d-flex justify-content-between">
              <span>860,000원</span>
              <div>
                <i class="fa-regular fa-heart me-1"></i><span>3</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./img/개선.PNG" class="card-img-top" alt="..." />
          <div class="card-body">
            <span class="card-text">상품이름</span>
            <div class="d-flex justify-content-between">
              <span>860,000원</span>
              <div>
                <i class="fa-regular fa-heart me-1"></i><span>3</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./img/개선.PNG" class="card-img-top" alt="..." />
          <div class="card-body">
            <span class="card-text">상품이름</span>
            <div class="d-flex justify-content-between">
              <span>860,000원</span>
              <div>
                <i class="fa-regular fa-heart me-1"></i><span>3</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="layouts/footer"></footer>
</body>
</html>
